<div class="mobile-inversion">
  <div class="center">
  <div id="actualites" class="centerTarget"></div>
  <p>
   Fusce eget elit vel purus lobortis commodo. In at tortor risus. Curabitur et fringilla lacus
  </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">

    </div>
    <p class="haut-de-page"><a href="#actualites">HAUT DE PAGE</a></p>
  </div>
</div>
