<div class="mobile-inversion">
  <div class="center">
  <div id="billeterie" class="centerTarget"></div>
  <p>
    L’accès aux Rencontres est gratuit pour les souiris et les étudiants marocains (sur présentation d’un justificatif). <br>
Accès illimité aux évènements pour les marocains et les résidents : 300 dirhams<br>
Accès à la journée pour les résidents marocains : 100 dirhams<br>
Accès illimité aux évènements pour les non-résidents : 500 dirhams<br>
Accès à la journée pour les non résidents : 200 dirhams<br><br><br>

Vous pouvez venir récupérer votre pass au Bureau des Rencontres (Salam Shalom), ou par voie digitale en écrivant à estheretselma@gmail.com 
  </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">

    </div>
    <p class="haut-de-page"><a href="#billeterie">HAUT DE PAGE</a></p>
  </div>
</div>
