<div class="mobile-inversion">
  <div class="center">
    <p id="contact">
      Pour toute information : contact@estheretselma.ma<br>
      Suivez nos actualités sur Facebook ou sur Instagram<br><br><br>
      Équipe<br><br>
      Le comité de direction<br>
      Catherine Becker, Kaoutar Chakir, Anaïs Ferreira-Anglars.<br><br>
      L’équipe logistique<br>
      L’association Essaouira Mogador présidée par Tarik Ottmani.<br><br>
      L’équipe communication<br>
      L’association Essaouira Mogador, Anaïs Ferreira-Anglars,<br>
      Théophile Granier (MAYAgency, Casablanca), Meryem (café L’Esprit).<br><br>
      Identité et conception graphique<br>
      Sophia Attigui<br><br>
      Web developpement<br>
      Ghali Dhobb | koun.online
    </p>
  </div>
</div>
