<div class="mobile-inversion">
  <div class="center">
    <p id="contact">
      Pour toute information : estheretselma@gmail.com<br>
      Suivez nos actualités sur <a href="https://web.facebook.com/profile.php?id=100085845044959" target='_blank'>Facebook</a>  ou sur <a href="https://www.instagram.com/salamshalomessaouira/" target='_blank'>Instagram</a>
      <br><br>
      <%= image_tag 'IMG_3888.jpeg', class:"img" %>
        <br><br><br>
    </p>
  </div>
</div>
