<div class="mobile-inversion">
  <div class="center">
    <p id="contact">
      Pour toute information : estheretselma@gmail.com<br>
      Suivez nos actualités sur Facebook ou sur Instagram<br><br><br>
    </p>
  </div>
</div>
