<div class="mobile-inversion">
  <div class="center">
    <div class="centerTarget" id="edition2023"></div>

    <h4 id="echange" class="h4margin">Les échanges : 3 petits déjeuners, 4 tables rondes, Ateliers, vidéos de 1’</h4>
    <p class="listing-title">
      3 petits déjeuners avec des cinéastes autour de leurs œuvres et de l’exil
    </p>
    <p class="listing">
      Avec Shlomi Elkabetz et ses parents<br>
      Avec Amos Gitai<br>
      Avec Hanna Assouline et Tamara Erde<br>
    </p>
    <p class="listing-title">
      3 tables rondes
    </p>
    <p class="listing">
     On est tous des exilés, personne n’est exilé<br>
     L’exil, le religieux et le politique au cinéma<br>
     Exil et Art: Comment l’art permet d’avancer<br>
     </p>
     <h5 class="h4margin">La vidéo de la minute</h5><br>
     <p>
      Un concours de la« vidéo de la minute » sera organisé durant les Rencontres cinématographiques. Il invitera les jeunes d’Essaouira à réaliser une vidéo de soixante secondes exprimant leur vision personnelle de l’exil et de la reconnexion. Les trois meilleures vidéos seront repostées sur les réseaux sociaux d’Esther & Selma.
    </p>
    <%= image_tag("birds.jpeg", class: "img-height", width: "100%") %>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to edition2023_path do %>Cinéma, les grandes lignes<% end %></li>
        <li><%= link_to edition2023_echange_path do %>Les échanges<% end %></li>
        <li><%= link_to edition2023_vivreensemble_path do %>Le vivre-ensemble<% end %></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#edition2023">HAUT DE PAGE</a></p>
  </div>
</div>
