
  <div class="center">
   <h4 id="pillier">
      Les 3 piliers : Cinéma, Échanges, Vivre ensemble
    </h4>
    <h5 id="cinema">Cinéma : Les grandes lignes des 3 journées, l’invité d’honneur, les personnalités intervenantes</h5>
    <h4>Du 15 novembre au soir au 18 novembre au soir</h4>
    <p>Après le Festival des Andalousies Atlantiques à Essaouira et avant le Festival International du Film de Marrakech</p>
    <h4>Sur le thème Exils et reconnexion</h4>
    <ul>
      <li>Une première soirée, avec un film mythique sur l’exil et le vernissage ;</li>
      <li>Une première journée autour des juifs marocains (le vivre ensemble, l’exode, le renouveau du dialogue);</li>
      <li>Une deuxième journée qui met en évidence l’épreuve de l’exil au Proche Orient et à travers le monde dans ses dimensions politiques et religieuses;</li>
      <li>Une troisième journée sur le dépassement de l’exil comme révélateur d’humanité, d’émancipation féminine et de créativité. Une finale en musique et en danse.</li>
    </ul>
    <h5>Des personnalités intervenantes invitées venues de tous les horizons méditerranéens et culturels</h5>
    <p>André Azoulay, Amos Gitaï, Shlomi Elkabetz, Nabil Ayouch, Mariam Touzani, Michale Boganim, Tamara Erde,  Hamid Fardjad, Hassan Benjelloun, Kamal Hachkar, Younes Laghrari, Ariel Schweitzer, Charles Tesson, Charles Hembert, Hanna Assouline, Inès Weill-Rochant, Kenza Aloui, Fanny Mergui…</p>
    <h5>L’invité d’honneur</h5>
    <p>
      Schlomi Elkabetz né le 5 décembre 1972 à Beer-Sheva, est un réalisateur, scénariste et acteur israélien. Il est le frère cadet de Ronit Elkabetz.
      Shlomi Elkabetz est né en Israël de parents d'origine marocaine. Sa mère est coiffeuse et son père financier dans les postes israéliennes.<br>
      Ses premières expériences de réalisations datent de son service militaire. Il y fait ses armes comme caméraman et réalisateur de documentaires. Après, Shlomi Elkabetz s'installe à New York. Il commence par prendre des cours d'art dramatique puis rejoint une troupe de théâtre, Hand Speak TC,  pour laquelle il écrit et joue plusieurs pièces.   Il réalise ensuite ses premiers courts métrages : le premier s'intitule Phone Call en noir et blanc et est tourné en super 8. Le second est un court métrage d'animation, mettent fin à sa carrière de comédien et entérine son rêve. Shlomi Elkabetz signe ses premiers longs métrages peu après. Parmi eux, figurent notamment les scénarios de Fraction et Herzel. Puis vient Prendre Femme, qui signe sa première collaboration avec sa soeur, Ronit Elkabetz, et son retour en Israël, après 7 années passées à New York. Prendre Femme remporte le Prix de la Critique et le Prix du Public au Festival de Venise en 2004.  Installé depuis en Israël, Les Sept jours, tourné en 2008 est son 2ème long métrage, également coécrit et réalisé avec sa soeur.<br>
      Sa filmographie : la trilogie (réalisateur et scénariste)- Prendre femme, Les sept jours, Le Procès de Vivianne Amsalem- Cahiers noirs I&II ,( acteur, réalisateur , producteur et scénariste) Our boys (acteur), Tel-Aviv-Beyrouth (acteur), Je danserai si je veux (producteur) ; Heritage (producteur)<br>
    </p>

    <h5>Filmographie</h5>
    <p>Comme réalisateur et scénariste
      <ul>
        <li>2004 : <em>Prendre femme</em> - coréalisé et coécrit avec Ronit Elkabetz</li>
        <li>2011 : <em>Testimony (Edut)</em> - coécrit avec Ofer Ein Gal</li>
        <li>2008 : <em>Les Sept Jours</em> - coréalisé et coécrit avec Ronit Elkabetz</li>
        <li>2014 : <em>Le Procès de Viviane Amsalem</em> - coréalisé et coécrit avec Ronit Elkabetz</li>
        <li>2021 : <em>Cahiers noirs</em> (documentaire)cahiers noirs . Viviane et Cahiers noirs. Ronit</li>
      </ul>
    </p>
    <p>
      Comme producteur
      <ul>
        <li>2011 : <em>Testimony (Edut)</em></li>
        <li>2014 : <em>Le Procès de Viviane Amsalem</em></li>
        <li>2017 : <em>Je danserai si je veux (Bar Bahr)</em> de Maysaloun Hamoud</li>
      </ul>
    </p>
    <p>
      Comme acteur
      <ul>
        <li>2004 : <em>Prendre femme</em></li>
        <li>2019 : <em>Our Boys</em>, série télévisée</li>
      </ul>
    </p>
    <h5>Distinctions</h5>
    <p>
      Récompenses
      <ul>
        <li>2004 : Prix du public (semaine de la critique) et Prix Isvema, à la Mostra de Venise.</li>
        <li>2004 : Prix de la critique (mention spéciale) au Festival du film de Hambourg.</li>
        <li>2005 : Prix FIPRESCI au Festival international du film de femmes d'Ankara.</li>
        <li>2008 : Prix du meilleur film au Festival international du film de Jérusalem.</li>
      </ul>
    </p>
    <p>
      Nominations et sélections
      <ul>
        <li>2004 : catégorie « Alexandre d'Or » au Festival international du film de Thessalonique.</li>
        <li>2005 : catégorie « Grand Prix » au Festival international de films de Fribourg.</li>
        <li>2014 : sélection « Quinzaine des réalisateurs » au Festival de Cannes 2014.</li>
      </ul>
    </p>

    <h5>Les échanges : 3 petits déjeuners, 4 tables rondes, Ateliers, vidéos de 1’</h5>
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat mauris, bibendum ac tincidunt at, mollis quis quam. Donec nec ipsum gravida, mollis tortor ut, feugiat mi. Etiam et elit nec turpis ornare auctor quis sed ex. Sed imperdiet magna et nibh luctus euismod. Praesent rhoncus orci mi, id finibus odio vulputate a. Nulla efficitur aliquet purus eu scelerisque. Etiam euismod lacus lorem, maximus feugiat neque viverra in. Sed id efficitur augue. Suspendisse potenti. Pellentesque bibendum, nisi vehicula sagittis sollicitudin, eros dui mattis dui, nec pharetra enim dui in ante. Cras ornare sodales euismod.<br><br>

Nullam molestie erat sit amet sapien vestibulum, ac pharetra metus mollis. Mauris posuere sodales sem eu aliquet. In ultricies libero lectus, vel ullamcorper ligula varius at. In tempor facilisis turpis, sed pulvinar nisi. Nunc ut lectus ultricies, scelerisque nulla at, malesuada erat. Ut at accumsan turpis. Mauris laoreet dictum tortor, nec malesuada lectus vehicula ultricies. Vivamus non dui id tortor venenatis vulputate. Mauris quam dui, pellentesque in posuere nec, viverra et magna. Sed fringilla metus in cursus dapibus.<br><br>

Suspendisse sodales semper mattis. Sed in nunc bibendum, cursus diam ut, efficitur massa. Fusce posuere consequat arcu, sed elementum erat scelerisque vel. Sed posuere felis sit amet varius ornare. Fusce malesuada nec mi in dictum. Proin sit amet ex leo. Praesent maximus aliquam massa, vitae molestie quam lacinia ut. Phasellus id erat bibendum neque varius finibus. Donec rutrum, quam vitae molestie sagittis, diam quam sagittis lorem, sed lacinia erat elit eu quam. Etiam euismod nibh tellus, non varius dui tempor at. Sed sit amet viverra urna.<br><br>

Integer vulputate imperdiet faucibus. Sed quis ultrices magna. Donec eu lobortis nunc. Ut eu mauris non erat tristique interdum. Morbi et felis lobortis, lacinia justo eu, lacinia nisi. Vestibulum sollicitudin lobortis commodo. Etiam sit amet gravida sem. Integer elit nibh, condimentum a aliquam id, posuere eu ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vitae dolor commodo magna mattis convallis. Curabitur mauris nibh, molestie vel ultricies pretium, efficitur rutrum eros. Ut eget sapien diam. Proin porta, mauris ac aliquam tempus, magna lorem aliquet risus, in porttitor ipsum nibh a leo. Nam feugiat pharetra sem, sit amet iaculis ex dignissim ut. Integer facilisis nulla id sodales viverra. Donec facilisis non felis id fringilla.<br><br>

Suspendisse luctus, dolor vitae fermentum scelerisque, neque enim pretium risus, at efficitur urna diam at dui. Nam pulvinar lacus at ipsum mattis, et pretium massa semper. Fusce sit amet tellus vulputate, bibendum nibh vel, efficitur quam. Ut vestibulum, nulla non molestie rhoncus, enim lectus vehicula massa, ut consectetur tortor massa sed augue. Pellentesque sed interdum purus. Sed ac nisi at metus consectetur blandit. Vestibulum tristique nisl eu euismod egestas. Pellentesque ut varius neque, id consequat metus.<br><br>
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#pillier">3 pilliers</a></li>
        <li><a href="#cinema">Cinéma</a></li>
        <li>Les échanges</li>
        <li>Le vivre ensemble</li>
      </ul>
    </div>
  </div>
