<div class="mobile-inversion">
  <div class="center">
    <div class="centerTarget" id="edition2023"></div>
    <h4 id="cinema" class="h4margin">Cinéma, les grandes lignes des 3 journées</h4>
    <div class="no-indent">
    <p>Après le Festival des Andalousies Atlantiques à Essaouira et avant le Festival International du Film de Marrakech</p>
    </div>
    <h4 class="h4margin">Sur le thème Exils et reconnexion</h4>
    <p>
      <ul>
        <li>Une première soirée, avec un film mythique sur l’exil et le vernissage peintures/ sculptures/ photos sur « Exil et reconnexion » des artistes d’Essaouira</li>
        <li>Une première journée autour des juifs marocains (le vivre ensemble, l’exode, le renouveau du dialogue);</li>
        <li>Une deuxième journée qui met en évidence l’épreuve de l’exil au Proche Orient et à travers le monde dans ses dimensions politiques et religieuses;</li>
        <li>Une troisième journée sur le dépassement de l’exil comme révélateur d’humanité, d’émancipation féminine et de créativité. Une finale en musique et en danse.</li>
      </ul>
    </p>
    <h4 class="h4margin">Avec son invité d’honneur Shlomi Elkabetz</h4><br>
    <div class="photo">
      <%= image_tag("Shlomi-Elkabetz.jpeg", alt: "Shlomi Elkabetz", class: "img-class", style:"width:100%") %>
    </div>
    <p>
      Schlomi Elkabetz né le 5 décembre 1972 à Beer-Sheva, est un réalisateur, scénariste et acteur israélien. Il est le frère cadet de Ronit Elkabetz.<br>
      Shlomi Elkabetz est né en Israël de parents d'origine marocaine. Sa mère est coiffeuse et son père financier dans les postes israéliennes.<br>
      Ses premières expériences de réalisations datent de son service militaire. Il y fait ses armes comme caméraman et réalisateur de documentaires. Après, Shlomi Elkabetz s'installe à New York. Il commence par prendre des cours d'art dramatique puis rejoint une troupe de théâtre, Hand Speak TC,  pour laquelle il écrit et joue plusieurs pièces.<br><br>
       Il réalise ensuite ses premiers courts métrages : le premier s'intitule Phone Call en noir et blanc et est tourné en super 8. Le second est un court métrage d'animation, mettent fin à sa carrière de comédien et entérine son rêve. Shlomi Elkabetz signe ses premiers longs métrages peu après. Parmi eux, figurent notamment les scénarios de Fraction et Herzel. Puis vient Prendre Femme, qui signe sa première collaboration avec sa soeur, Ronit Elkabetz, et son retour en Israël, après 7 années passées à New York. Prendre Femme remporte le Prix de la Critique et le Prix du Public au Festival de Venise en 2004.<br>
        Installé depuis en Israël, Les Sept jours, tourné en 2008 est son 2ème long métrage, également coécrit et réalisé avec sa soeur.<br>
        Sa filmographie : la trilogie (réalisateur et scénariste)- Prendre femme, Les sept jours, Le Procès de Vivianne Amsalem- Cahiers noirs I&II ,( acteur, réalisateur , producteur et scénariste) Our boys (acteur), Tel-Aviv-Beyrouth (acteur), Je danserai si je veux (producteur) ; Heritage (producteur)
    </p>
    <div class="distinctions">
       <p>
        Ses distinctions<br>
        Récompenses
       </p>
        <ul>
          <li>2004 : Prix du public (semaine de la critique) et Prix Isvema, à la Mostra de Venise.</li>
          <li>2004 : Prix de la critique (mention spéciale) au Festival du film de Hambourg.</li>
          <li>2005 : Prix FIPRESCI au Festival international du film de femmes d'Ankara.</li>
          <li>2008 : Prix du meilleur film au Festival international du film de Jérusalem.</li>
        </ul>
        <p>
        Nominations et sélections
        </p>
        <ul>
          <li>2004 : catégorie « Alexandre d'Or » au Festival international du film de Thessalonique.</li>
          <li>2005 : catégorie « Grand Prix » au Festival international de films de Fribourg.</li>
          <li> 2014 : sélection « Quinzaine des réalisateurs » au Festival de Cannes 2014.</li>
        </ul>
    </div>
    <h5 class="h4margin">Et ses invités prestigieux du monde du cinéma</h5>
    <p>
      Amos Gitaï, Shlomi Elkabetz, Nabil Ayouch, Mariam Touzani, Michale Boganim, Tamara Erde,  Hamid Fardjad, Hassan Benjelloun, Kamal Hachkar, Younes Laghrari, Ariel Schweitzer, Charles Tesson, Charles Hembert, Hanna Assouline…
    </p>
<br><br><br><br>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to edition2023_path do %>Cinéma, les grandes lignes<% end %></li>
        <li><%= link_to edition2023_echange_path do %>Les échanges<% end %></li>
        <li><%= link_to edition2023_vivreensemble_path do %>Le vivre-ensemble<% end %></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#edition2023">HAUT DE PAGE</a></p>
  </div>
</div>
