<div class="mobile-inversion">
  <div class="center">
   <h4 id="pillier">
      Les 3 piliers : Cinéma, Échanges, Vivre ensemble
    </h4>
    <h4 id="cinema">Cinéma</h5>
    <h5>Du 15 novembre au soir au 18 novembre au soir</h5>
    <p>Après le Festival des Andalousies Atlantiques à Essaouira et avant le Festival International du Film de Marrakech</p>
    <h4>Sur le thème Exils et reconnexion</h4>
    <p>
      <ul>
        <li>Une première soirée, avec un film mythique sur l’exil et le vernissage peintures/ sculptures/ photos sur « Exil et reconnexion » des artistes d’Essaouira</li>
        <li>Une première journée autour des juifs marocains (le vivre ensemble, l’exode, le renouveau du dialogue);</li>
        <li>Une deuxième journée qui met en évidence l’épreuve de l’exil au Proche Orient et à travers le monde dans ses dimensions politiques et religieuses;</li>
        <li>Une troisième journée sur le dépassement de l’exil comme révélateur d’humanité, d’émancipation féminine et de créativité. Une finale en musique et en danse.</li>
      </ul>
    </p>
    <h5>Avec son invité d’honneur Shlomi Elkabetz</h5>
    <p>
    ( on met une photo de lui et en appuyant sur la photo, on a sa bio que vous avez reprise)
    </p>
    <h5>Et ses invités prestigieux du monde du cinéma</h5>
    <p>
      Amos Gitaï, Shlomi Elkabetz, Nabil Ayouch, Mariam Touzani, Michale Boganim, Tamara Erde,  Hamid Fardjad, Hassan Benjelloun, Kamal Hachkar, Younes Laghrari, Ariel Schweitzer, Charles Tesson, Charles Hembert, Hanna Assouline…
    </p>

    <h5>Bio de Shlomi Elkabetz</h5>
    <p>
      <b>L’invité d’honneur, Schlomi Elkabetz</b> né le 5 décembre 1972 à Beer-Sheva, est un réalisateur, scénariste et acteur israélien. Il est le frère cadet de Ronit Elkabetz.
      Shlomi Elkabetz est né en Israël de parents d'origine marocaine. Sa mère est coiffeuse et son père financier dans les postes israéliennes.<br>
      Ses premières expériences de réalisations datent de son service militaire. Il y fait ses armes comme caméraman et réalisateur de documentaires. Après, Shlomi Elkabetz s'installe à New York. Il commence par prendre des cours d'art dramatique puis rejoint une troupe de théâtre, Hand Speak TC,  pour laquelle il écrit et joue plusieurs pièces.  <br>
      Il réalise ensuite ses premiers courts métrages : le premier s'intitule Phone Call en noir et blanc et est tourné en super 8. Le second est un court métrage d'animation, mettent fin à sa carrière de comédien et entérine son rêve. Shlomi Elkabetz signe ses premiers longs métrages peu après. Parmi eux, figurent notamment les scénarios de Fraction et Herzel. Puis vient Prendre Femme, qui signe sa première collaboration avec sa soeur, Ronit Elkabetz, et son retour en Israël, après 7 années passées à New York. Prendre Femme remporte le Prix de la Critique et le Prix du Public au Festival de Venise en 2004.<br>
       Installé depuis en Israël, Les Sept jours, tourné en 2008 est son 2ème long métrage, également coécrit et réalisé avec sa soeur.<br>
      Sa filmographie : <b>la trilogie (réalisateur et scénariste)- Prendre femme, Les sept jours, Le Procès de Vivianne Amsalem- Cahiers noirs I&II ,( acteur, réalisateur , producteur et scénariste) Our boys (acteur), Tel-Aviv-Beyrouth (acteur), Je danserai si je veux (producteur) ; Heritage (producteur).</b>
    </p>
    <h5> Ses Distinctions</h5>
    <p>
      Récompenses<br>
      2004 : Prix du public (semaine de la critique) et Prix Isvema, à la Mostra de Venise.<br>
      2004 : Prix de la critique (mention spéciale) au Festival du film de Hambourg.<br>
      2005 : Prix FIPRESCI au Festival international du film de femmes d'Ankara.<br>
      2008 : Prix du meilleur film au Festival international du film de Jérusalem.<br>
      Nominations et sélections<br>
      2004 : catégorie « Alexandre d'Or » au Festival international du film de Thessalonique.<br>
      2005 : catégorie « Grand Prix » au Festival international de films de Fribourg.<br>
      2014 : sélection « Quinzaine des réalisateurs » au Festival de Cannes 2014.<br>
    </p>
    <h5 id="echange">Les échanges : 3 petits déjeuners, 4 tables rondes, Ateliers, vidéos de 1’</h5>
    <p>
      3 petits déjeuners avec des cinéastes autour de leurs œuvres et de l’exil<br>
      Avec Shlomi Elkabetz et ses parents<br>
      Avec Amos Gitai<br>
      Avec Hanna Assouline et Tamara Erde<br><br>

      3 tables rondes<br>
      <em>On est tous des exilés, personne n’est exilé</em><br>
      <em>L’exil, le religieux et le politique au cinéma</em><br>
      <em>Exil et Art  : Comment l’art permet d’avancer</em><br><br>

      vidéos de 1 minute<br>
      Une « vidéo de la minute » que chacun peut faire sur sa vision personnelle de l’exil et de la reconnexion (le lien, l’échange, le dialogue). Sur Instagram, orienté sur les publics d’Essaouira et les jeunes en particulier.<br>
    </p>
    <h5 id="#vivre_ensemble">Le vivre ensemble : Exposition artistique, cuisines de l’exil, promenades</h5>
    <p>
      Une exposition des peintres et sculpteurs d’Essaouira ;<br>
      Des déjeuners et dîners autour de cuisines marocaines, judéo-marocaines et de fusions méditerranéennes traditionnelles et contemporaines ;<br>
      Des promenades culturelles dans Essaouira<br>

      Images
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#pillier">3 pilliers</a></li>
        <li><a href="#cinema">Cinéma</a></li>
        <li><a href="#echange">Les échanges</a></li>
        <li><a href="#vivre_ensemble">Le vivre ensemble : Exposition artistique, cuisines de l’exil, promenades</a></li>
      </ul>
    </div>
  </div>
</div>
