<div class="mobile-inversion">
  <div class="center">
    <div class="centerTarget" id="edition2023"></div>
    <div class="photo">
      <%= image_tag("fresque.jpeg", alt:"Essaouira", class: "img-height", style:"width: 100%") %>
    </div>
    <h4 id="vivre_ensemble" class="h4margin">Le vivre ensemble: Exposition artistique, cuisines de l’exil, promenades</h4>
    <p>
      Une exposition des peintres et sculpteurs d’Essaouira ;<br>
      Des déjeuners et dîners autour de cuisines marocaines, judéo-marocaines et de fusions méditerranéennes traditionnelles et contemporaines ;<br>
      Des promenades culturelles dans Essaouira<br><br><br><br><br>
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to edition2023_path do %>Cinéma, les grandes lignes<% end %></li>
        <li><%= link_to edition2023_echange_path do %>Les échanges<% end %></li>
        <li><%= link_to edition2023_vivreensemble_path do %>Le vivre-ensemble<% end %></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#edition2023">HAUT DE PAGE</a></p>
  </div>
</div>
