<div class="mobile-inversion">
  <div class="center">
  <div id="festival" class="centerTarget"></div>
   <h4 id="manifesto">
    Recréer du lien entre les individus  et les communautés
    pour que chacun se reconnecte avec lui-même
    et sa propre pluralité
    </h4>
    <p>
      Alors que le monde contemporain multiplie  ruptures et exils dévastateurs, comment reconnecter ceux que l’histoire a désunis ? Comprendre les différentes dimensions de l’exil, comment la notion porte politique et religieux, désespérance et espoir, départ et retour.<br>
      Pour retrouver des valeurs fortes et que chacun prenne conscience qu’il est pluri -dimensionnel :  c’est ainsi qu’il est véritablement au cœur de l’humanité. Faire émerger un espoir en termes d’humanité et de créativité : une profondeur humaine par-delà des différences souvent extrémisées et de l’identitarisme stérile.<br>
      Le cinéma est un puissant levier culturel  pour avancer ensemble, gagner en clarté sur soi et acquérir une prise de conscience collective.<br>
      Construire un grand moment de partage et d’engagement. Être bien dans un espace partagé !
    </p>
    <h5>L'histoire du logo à travers des images</h5>
    <p>A venir</p>
    <h4 id="essaouira">Pourquoi la ville d’Essaouira ?</h4>
    <p>
      Essaouira est le creuset de notre réflexion, philosophique et géopolitique, car la ville a connu d’abord une cohabitation des différentes cultures et religions, puis l’exode d’une partie de sa population- les juifs marocains- et maintenant veut être le modèle du dialogue et de l’ouverture à un nouveau cosmopolitisme.<br>
      Essaouira est le lieu d’origine de la famille Elkabetz. Les parents de Ronit, grande actrice israélienne et Shlomi, figure du nouveau cinéma israélien, ont quitté Essaouira en 1963 et y reviendront pour les rencontres.<br>
    </p>
    <h4 id="roni-Elkabetz">Ronit la femme engagée</h4>
    <p style="text-align: center;">
      « Ceux qui vivent, ce sont ceux qui luttent »<br>
      "و لا يموت المقاومون"<br>
      Ronit Elkabetz (1964-2015)
    </p>
    <p>
       Elle avait encore tant à donner, tant à dire. Tel un astre incandescent qui irradie le ciel avant de disparaître. Ronit Elkabetz s’est éteinte à l’apogée de sa carrière. Emportée par le cancer. Elle n’avait que 51 ans.<br>
        <em>« Ceux qui vivent, ce sont ceux qui luttent »</em> déclarait-elle. L’actrice et scénariste Ronit Elkabetz excella dans l’interprétation de personnages féminins en rébellion. Regard intense, peau ivoire et chevelure de jais, Ronit portait ses origines en bandoulière. Sa beauté flamboyante tenait de celles de ses aïeules de Mogador.<br>
        De la Cité des Alizés, Ronit reçut en héritage la tradition culturelle, qu’elle revendiquait avec force. <em>« La culture arabe est dans nos veines, dans notre cuisine, notre musique et notre langue »</em>, affirmait-elle racontant que, quand elle était enfant, <em>« sa famille se réunissait chaque vendredi après-midi pour visionner un film égyptien ».</em><br>
        Arrivée au cinéma en 1990, elle coécrit et coréalise avec son jeune frère, Schlomi une trilogie construite autour de l’histoire de ses parents. Le fil directeur en est Viviane, une femme en quête d’émancipation dont le personnage s’inspire directement de sa mère, coiffeuse à Mogador.<br>
        En Israël où Ronit retourne vivre en 2000, elle disait <em>« Je vis au cœur de la vieille ville de Jaffa parce qu’elle fait cohabiter étroitement les deux communautés (…) C’est important pour moi de partager ma vie quotidienne avec celle des Palestiniens ».</em> De Mogador, Ronit n’hérita pas que la beauté de ses femmes. Elle en eut aussi le goût de l’autre et une quête militante pour la paix qui ne l’a jamais quittée.<br>
        </p>
        <div class="photo">
          <%= image_tag("roni.jpeg", alt:"Ronit Elkabetz", class:"img-class") %>
        </div>
        <div class="legend">
          Ronit Elkabetz dans Prendre Femme de Shlomi et Ronit Elkabetz (2005).
        </div>
       
    <h4 id="mobilisation">La mobilisation de l’association Essaouira Mogador et d’une belle équipe à la rencontre de ses publics</h4>
    <h5>sous la présidence d’honneur d’André Azoulay</h5>
    <h4>Un comité de direction</h4>
    <h5>Catherine Becker,  Kaoutar Chakir, Anaïs Ferreira-Anglars ;</h5>
    <h4>L’équipe logistique : </h4>
    <h5>L’association Essaouira Mogador présidée par Tarik Ottmani, Carole Guilloux, Anaïs Ferreira-Anglars ;</h5>
    <h4>L’équipe communication</h4>
    <h5>L’association Essaouira Mogador, Anaïs Ferreira-Anglars, Sophia Attigui pour le graphisme, Souleyman Belhassan Alaoui (Noomoo) pour la communication digitale, Meryem (café L’Esprit), Théophile Granier (Mayagency).</h5><br><br><br><br>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#manifesto">Manifesto</a></li>
        <li><a href="#essaouira">Essaouira</a></li>
        <li><a href="#roni-Elkabetz">Ronit la femme engagée</a></li>
        <li><a href="#mobilisation">La mobilisation de l’association Essaouira Mogador et d’une belle équipe à la rencontre de ses publics</a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#festival">HAUT DE PAGE</a></p>
  </div>
</div>
