
  <div class="center">
   <h4 id="Manifesto"> 
    Recréer du lien entre les individus  et les communautés 
    pour que chacun se reconnecte avec lui-même 
    et sa propre pluralité
    </h4>
    <p>
      Le festival pose une question fondamentale : alors que le monde contemporain multiplie  ruptures et exils dévastateurs, comment reconnecter ceux que l’histoire a désunis ? Comprendre les différentes dimensions de l’exil, comment la notion porte départ et retour, politique et religieux, désespérance et espoir. Sortir du désespoir, être capable de mieux comprendre pour avancer et se servir de l’art, en particulier cinématographique, pour ouvrir le dialogue.<br><br>

      Pour retrouver des valeurs fortes et que chacun prenne conscience qu’il est pluri -dimensionnel :  c’est ainsi qu’il est véritablement au cœur de l’humanité. Faire émerger un espoir en termes d’humanité et de créativité : une profondeur humaine par-delà des différences souvent extrémisées et de l’identitarisme stérile.<br><br>

      Le cinéma est un puissant levier culturel  pour avancer ensemble, gagner en clarté sur soi et acquérir une prise de conscience collective.<br><br>

      Construire un grand moment de partage et d’engagement. Que ce festival soit un chemin pour envisager ensemble l’avenir !  Être bien dans un espace partagé ! L’envie de transmettre aux jeunes générations de se reconnecter aux autres pour mieux se comprendre !<br><br>
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#Manifesto">Manifesto</a></li>
        <li>Essaouira</li>
        <li>Roni Elkabetz</li>
        <li>A la rencontre des publics</li>
      </ul>
    </div>
  </div>