<div class="mobile-inversion">
  <div class="center">
  <div id="festival" class="centerTarget"></div>
   <h4 id="manifesto">
    Recréer du lien entre les individus  et les communautés
    pour que chacun se reconnecte avec lui-même
    et sa propre pluralité
    </h4>
    <p>
      Alors que le monde contemporain multiplie  ruptures et exils dévastateurs, comment reconnecter ceux que l’histoire a désunis ? Comprendre les différentes dimensions de l’exil, comment la notion porte politique et religieux, désespérance et espoir, départ et retour.<br>
      Pour retrouver des valeurs fortes et que chacun prenne conscience qu’il est pluri -dimensionnel :  c’est ainsi qu’il est véritablement au cœur de l’humanité. Faire émerger un espoir en termes d’humanité et de créativité : une profondeur humaine par-delà des différences souvent extrémisées et de l’identitarisme stérile.<br>
      Le cinéma est un puissant levier culturel  pour avancer ensemble, gagner en clarté sur soi et acquérir une prise de conscience collective.<br>
      Construire un grand moment de partage et d’engagement. Être bien dans un espace partagé !
    </p>
    <h5>L'histoire du logo à travers des images</h5>
    <p>A venir</p>
<br><br><br><br><br><br>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to festival_path do %>Manifesto<% end %></li>
        <li><%= link_to festival_essaouira_path do %>Essaouira<% end %></li>
        <li><%= link_to festival_ronit_path do %>Ronit la femme engagée<% end %></a></li>
        <li><%= link_to festival_equipe_path do %>L'équipe mobilisée<% end %></a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#festival">HAUT DE PAGE</a></p>
  </div>
</div>
