<div class="mobile-inversion">
  <div class="center">
  <div id="festival" class="centerTarget"></div>
   <h4 id="manifesto">
    Recréer du lien entre les individus  et les communautés
    pour que chacun se reconnecte avec lui-même
    et sa propre pluralité
    </h4>
    <p>
      Alors que le monde contemporain multiplie  ruptures et exils dévastateurs, comment reconnecter ceux que l’histoire a désunis ? Comprendre les différentes dimensions de l’exil, comment la notion porte politique et religieux, désespérance et espoir, départ et retour.<br>
      Pour retrouver des valeurs fortes et que chacun prenne conscience qu’il est pluri -dimensionnel :  c’est ainsi qu’il est véritablement au cœur de l’humanité. Faire émerger un espoir en termes d’humanité et de créativité : une profondeur humaine par-delà des différences souvent extrémisées et de l’identitarisme stérile.<br>
      Le cinéma est un puissant levier culturel  pour avancer ensemble, gagner en clarté sur soi et acquérir une prise de conscience collective.<br>
      Construire un grand moment de partage et d’engagement. Être bien dans un espace partagé !
    </p>
    <h4 id="essaouira">Pourquoi la ville d’Essaouira ?</h4>
    <p>
      Essaouira est le creuset de notre réflexion, philosophique et géopolitique, car la ville a connu d’abord une cohabitation des différentes cultures et religions, puis l’exode d’une partie de sa population- les juifs marocains- et maintenant veut être le modèle du dialogue et de l’ouverture à un nouveau cosmopolitisme.<br>
      Essaouira est le lieu d’origine de la famille Elkabetz. Les parents de Ronit, grande actrice israélienne et Shlomi, figure du nouveau cinéma israélien, ont quitté Essaouira en 1963 et y reviendront pour les rencontres.<br>
    </p>
    <h4 id="roni-Elkabetz">Ronit la femme engagée</h4>
    <p>
      Texte écrit à Bayt Dakira à Essaouira
    </p>
    <h4 id="mobilisation">La mobilisation de l’association Essaouira Mogador et d’une belle équipe à la rencontre de ses publics</h4>
    <h5>sous la présidence d’honneur d’André Azoulay</h5>
    <h4>Un comité de direction</h4>
    <h5>Catherine Becker,  Kaoutar Chakir, Anaïs Ferreira-Anglars ;</h5>
    <h4>L’équipe logistique : </h4>
    <h5>L’association Essaouira Mogador présidée par Tarik Ottmani, Carole Guilloux, Anaïs Ferreira-Anglars ;</h5>
    <h4>L’équipe communication</h4>
    <h5>L’association Essaouira Mogador, Anaïs Ferreira-Anglars, Sophia Attigui pour le graphisme, Souleyman Belhassan Alaoui (Noomoo) pour la communication digitale, Meryem (café L’Esprit), Théophile Granier (Mayagency).</h5>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#manifesto">Manifesto</a></li>
        <li><a href="#essaouira">Essaouira</a></li>
        <li><a href="#roni-Elkabetz">Ronit la femme engagée</a></li>
        <li><a href="#mobilisation">La mobilisation de l’association Essaouira Mogador et d’une belle équipe à la rencontre de ses publics</a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#festival">HAUT DE PAGE</a></p>
  </div>
</div>
