<div class="background">
  <div class="container">
    <div class="left-side">
      <div class="title">
        <h1>ESTHER ET SELMA</h1>
        <h2>Festival de cinéma de l'exil</h2>
        <h2>Essaouira</h2>
      </div>
      <div class="menu">
        <ul>
          <li>Un festival engagé</li>
          <li>2023, édition pionnière</li>
          <li>Paroles</li>
          <li>Tissu culturel</li>
          <li>Programme</li>
          <li>Infos pratiques</li>
          <li>Billeterie</li>
          <li>Contact</li>
        </ul>
        </div>
      <div class="footer-logo">
        logo
      </div>
    </div>
      <div class="video">
        <video width="320" height="240" controls>
          <source src="/" type="">
          <source src="/" type="">
          Your browser does not support the video tag.
        </video>
      </div>
    <div class="right-side">
      <div class="header-logo">
        logo
      </div>
      <div class="news">
        News
      </div>
      <div class="layout-options">
        <ul>
          <li><a>EXTRAIT SUIVANT</a></li>
          <li>ACTIVER LE SON</li>
          <li>INVERSER LES COULEURS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  texte defilant
</div>
<script>
    window.addEventListener('scroll', function () {
        if (window.scrollY > window.innerHeight) {
            document.body.classList.add('active-footer');
        } else {
            document.body.classList.remove('active-footer');
        }
    });
</script>
