<div class="center">
  <video width="640" height="480" controls>
    <source src="/" type="">
    <source src="/" type="">
    Your browser does not support the video tag.
  </video>
</div>
<div class="right-side">
  <div class="news">
    <h5>Dernières actualités</h5>
    <p>Fusce eget elit vel purus lobortis commodo. In at tortor risus. Curabitur et fringilla lacus. </p>
    <p>Le programme complet est disponible en téléchargement dès aujourd’hui !</p>
  </div>
</div>
