<div class="container">
  <div class="left-side">
    <div class="title">
      <h1>ESTHER ET SELMA</h1>
      <h2>Festival de cinéma de l'exil</h2>
      <h2>Essaouira</h2>
    </div>
    <div class="menu">
      <ul>
        <li>Un festival engagé</li>
        <li>2023, édition pionnière</li>
        <li>Paroles</li>
        <li>Tissu culturel</li>
        <li>Programme</li>
        <li>Infos pratiques</li>
        <li>Billeterie</li>
        <li>Contact</li>
      </ul>
      </div>
    <div class="footer-logo">
      logo
    </div>
  </div>
    <div class="video">
      Video
    </div>
  <div class="right-side">
    <div class="header-logo">
      logo
    </div>
    <div class="news">
      News
    </div>
    <div class="layout-options">
      <ul>
        <li>EXTRAIT SUIVANT</li>
        <li>ACTIVER LE SON</li>
        <li>INVERSER LES COULEURS</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    texte defilant
  </div>
</div>