<div class="mobile-inversion">
  <div class="center">
   <h4 id="lieux-du-festival">
    Les lieux du festival
  </h4>
  <h5>
    <p>
      Le festival pose une question fondamentale : alors que le monde contemporain multiplie  ruptures et exils dévastateurs, comment reconnecter ceux que l’histoire a désunis ? Comprendre les différentes dimensions de l’exil, comment la notion porte départ et retour, politique et religieux, désespérance et espoir. Sortir du désespoir, être capable de mieux comprendre pour avancer et se servir de l’art, en particulier cinématographique, pour ouvrir le dialogue.<br><br>

      Pour retrouver des valeurs fortes et que chacun prenne conscience qu’il est pluri -dimensionnel :  c’est ainsi qu’il est véritablement au cœur de l’humanité. Faire émerger un espoir en termes d’humanité et de créativité : une profondeur humaine par-delà des différences souvent extrémisées et de l’identitarisme stérile.<br><br>

      Le cinéma est un puissant levier culturel  pour avancer ensemble, gagner en clarté sur soi et acquérir une prise de conscience collective.<br><br>

      Construire un grand moment de partage et d’engagement. Que ce festival soit un chemin pour envisager ensemble l’avenir !  Être bien dans un espace partagé ! L’envie de transmettre aux jeunes générations de se reconnecter aux autres pour mieux se comprendre !
    </p>
    <h4 id="essaouira">Pourquoi la ville d’Essaouira ?</h4>
    <p>
      <em>
      Pourquoi Essaouira est-elle si chaleureuse et joyeuse ?<br>
      Parce qu’elle est née sous une double étoile<br>
      <span style="margin-left: 2rem;"></span>6 branches par 5 branches<br>
      Essaouira c’est la chance que des cultures viennent se mêler<br>
      Un terroir commun, un creuset vivant<br>
      Le plaisir de l’ancienne Essaouira, de la nouvelle et de la future<br>
      Des racines et des ailes<br>
      Le goût du cumin, du miel et du sirop de rose<br>
      Le goût de musiques poétiques enfiévrées de toutes leurs origines<br>
      Le goût de séances de cinéma partagées<br>
      Le goût de la parole<br><br>
    </em>
    <b><span id="roni-Elkabetz">Les</span> rencontres s’ancrent à Essaouira</b>, lieu qui signifie dans l’histoire, et aussi aujourd’hui,  la possibilité  d’un vivre ensemble, un carrefour symbolique des religions, essentiellement juive et musulmane, des cultures et des populations sur le continent africain et au-delà.<br>
    Essaouira est le creuset de notre réflexion car la ville a connu d’abord une cohabitation des différentes cultures et religions, puis l’exode d’une partie de sa population- les juifs marocains- et maintenant veut être le modèle du dialogue et de l’ouverture à un nouveau cosmopolitisme.<br>
    Essaouira est un paradigme du lien entre le philosophico -religieux et le géopolitique.
    Enfin Essaouira est le lieu d’origine de la famille Elkabetz. Ronit est une grande actrice israélienne et Shlomi, figure du nouveau cinéma israélien, a coréalisé avec sa sœur une trilogie inspirée de la vie de leur mère. Le dernier film qu’il a réalisé <b>Cahiers noirs I et II</b> (2022)   mêle archives familiales et extraits de films.<br>
    </p>
    <h4 id="mobilisation">Un comité d’orientation</h4>
    <h5>sous la présidence d’honneur d’André Azoulay</h5>
    <h4>Un comité de direction</h4>
    <h5>Catherine Becker,  Kaoutar Chakir, Anaïs Ferreira-Anglars ;</h5>
    <h4>L’équipe logistique : </h4>
    <h5>L’association Essaouira Mogador présidée par Tarik Ottmani ;</h5>
    <h4>L’équipe communication</h4>
    <h5>L’association Essaouira Mogador, Anaïs Ferreira-Anglars, Sophia Attigui pour le graphisme, Souleyman Belhassan Alaoui (Noomoo) pour la communication digitale, Meryem (café L’Esprit), Théophile Granier (Mayagency).</h5>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#lieux-du-festival">Les lieux du festival</a></li>
        <li><a href="#essaouira">Essaouira</a></li>
        <li><a href="#roni-Elkabetz">Roni Elkabetz</a></li>
        <li><a href="#mobilisation">La mobilisation de l’association Essaouira Mogador et d’une belle équipe à la rencontre de ses publics</a></li>
      </ul>
    </div>
  </div>
</div>
