<div class="mobile-inversion">
  <div class="center">
   <h4 id="lieux-du-festival">
    Les lieux du festival
  </h4>
  <h5>Des rencontres pluri-lieux</h5>

  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1n-RLFKq56atcc0LNTVNVZHLVJSaAChg&ehbc=2E312F&noprof=1" width="740" height="480"></iframe>

    <h4 id="hotel">Les hôtels</h4>
    <p>
     Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Maiores neque quam a magni reprehenderit dolorem minima repellendus repellat veniam. Dolor, ab, provident! Aspernatur, assumenda earum atque sapiente illo esse id eos, velit iusto at eaque repellat suscipit, asperiores maxime error, dicta ex. Sed ullam, ratione ipsum id voluptatem laudantium dolore.
    </p>
    <h4 id="transports">Les transports</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Iste, commodi, saepe alias sequi quo possimus voluptatem nisi assumenda dolorem quis voluptate voluptas vel, nihil voluptatibus expedita dicta cupiditate molestias ab, vero nesciunt perferendis aut. Maiores libero ratione doloribus placeat odio quam alias magnam cumque, reprehenderit sit omnis. Voluptate perspiciatis, atque numquam sunt mollitia officiis at. Nisi, ad libero ex enim.
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#lieux-du-festival">Les lieux du festival</a></li>
        <li><a href="#hotel">Les hôtels</a></li>
        <li><a href="#transports">Les transports</a></li>
      </ul>
    </div>
  </div>
</div>
