<div class="mobile-inversion">
  <div class="center">
    <div class="centerTarget" id="infospratiques"></div>
   <h4 id="lieux-du-festival">
    Les lieux du festival
    </h4>

    <p>
      En plein air, sur les remparts, au fond de la Place Moulay Hassan, pour les films d’introduction le mercredi 15 novembre et pour la clôture le samedi 18.<br>
      La médiathèque pour les films et leur présetation; <br>
      Dar Souiri pour les 3 tables rondes,  1 film tous les soirs à 18 heures;<br>
      Salam Shalom (dans la médina) pour  des petits-déjeuners avec des cinéastes et des documentaires à voir ou revoir à l'occasion des moments de convivialité<br>
      Le Bastion de Bab Marrakech(exposition des artistes d’Essaouira) ;
    </p>
   <h5>Des rencontres pluri-lieux</h5><br>
   <div class="map" style="text-align:center;">
    <iframe class="map" src="https://www.google.com/maps/d/u/0/embed?mid=1n-RLFKq56atcc0LNTVNVZHLVJSaAChg&ehbc=2E312F&noprof=1" width="540" height="480"></iframe>
  </div>


   <p>
   <h5>LE BUREAU</h5><br>

     <b>Salam Shalom</b><br>
      23, rue Touahen<br>
      Médina d’Essaouira<br><br>

   <h5>LES LIEUX DE PROJECTION </h5><br>

     <b>Place Moulay Hassan</b><br>
      Médina d’Essaouira<br><br>

      <b>Dar Souiri</b><br>
      10, avenue du Caire Médina d’Essaouira<br><br>

      <b>La médiathèque </b><br>
      A définir<br><br>

   <h5>LES LIEUX D’EXPOSITION </h5>

     <b>Le bastion </b><br>
     Rue Touahen<br>
     Médina d’Essaouira
   </p>
    <h4 id="transports">Les transports</h4>
    <h5>Par les airs</h5>
    <p>
      Depuis la France, plusieurs les vols sont opérés par les compagnies Air France, Transavia, Ryanair et Easyjet<br><br>

      Depuis Israël, les vols sont assurés par la compagnie Arkia (au départ de Tel Aviv).
    </p>
    <h5>Par la route</h5>
    <p>
      Il est possible de rejoindre Essaouira par la route au départ de Marrakech, que ce soit en voiture ou en bus. Temps de trajet estimé : 2h30.
    </p>
    <h5>À l’intérieur du Festival </h5>
    <p>Tous les lieux des Rencontres sont situés à proximité les uns des autres et sont accessibles à pied.</p>
    <h5>En dehors du Festival</h5>
    <p>Pour se déplacer à Essaouira, en dehors de la médina, rien de plus simple que de prendre un des nombreux petits taxis bleus.</p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#lieux-du-festival">Les lieux du festival</a></li>
        <li><a href="#transports">Les transports</a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#infospratiques">HAUT DE PAGE</a></p>
  </div>
</div>
