  <div class="center">
  <div class="centerTarget" id="paroles"></div>
  <h4> A venir</h4>
  </div>
  <div class="right-side">
    <p class="haut-de-page"><a href="#paroles">HAUT DE PAGE</a></p>
  </div>
