  <div class="center">
  <div class="centerTarget" id="paroles"></div>
  <p>
    <em>« Restaurer le rêve brisé et reprendre là où on s’était arrêté. »</em><br>
    André Azoulay
  </p>
  <p>
    <em>“L’art ne change pas l’Histoire, mais garde en mémoire...comprendre la tragédie de deux peuples et essayer de construire un autre avenir(...) il faut garder l’espoir.”</em><br>
  Amos Gitaï<br><br>
  <a href="https://app.frame.io/reviews/5016dab6-b204-4b89-a5f7-115e03766955/c117acca-01cc-4289-a345-f2f48fe742e7" target="_blank">Amos Gitaï, la guerre sans fin ?<br> Sur France info, 12 Octobre 2023</a><br><br>
  <em>« Quand on nie la souffrance de l’autre, c’est le tombeau de tous qu’on creuse »</em><br> 
  Kamal Hachkar.<br><br>
  <em>« Ce qu’on veut c’est que les gens comprennent qu’ils ne sont pas assignés à des camps, les uns contre les autres »</em><br>
Hanna Assouline<br><br><br><br>
  </p>

  </div>
  <div class="right-side">
    <%# <p class="haut-de-page"><a href="#paroles">HAUT DE PAGE</a></p> %>
  </div>
