
  <div class="center">
    <div class="programme">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel iaculis neque. Morbi at magna eu mi congue tempus. Ut at accumsan est. Nullam vehicula auctor auctor. Quisque justo nulla, maximus sed cursus non, luctus vitae ex. Donec ac lectus sed augue ultricies commodo sed id nisi. Sed sed luctus velit. Maecenas malesuada sodales magna, malesuada accumsan massa molestie sed. Nulla ultricies, lacus dignissim interdum auctor, quam ligula posuere augue, et iaculis mi felis at arcu. Cras convallis quam ut finibus varius. Interdum et malesuada fames ac ante ipsum primis in faucibus
      </p>
      <h5>SOIRÉE D'OUVERTURE</h5>
      <div class="event">
        <div class="event1">
          <div class="image">
          <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
          <div class="text">
          <h6>ART VISUELS: VERNISSAGE DE L'EXPOSITION "NASS"</h6>
          <p>Galerie d'art Bastion - 12, rue Abdelkbir Seddik<br>
          A partir de 16h00<br>
          Exposition au Bastion, pendant la semaine du festival, des artistes de la Juntya autour du thème de l'exil, du retour, du renouveau du dialogue.
          </p>
          </div>
        </div>
        <br>
        <div class="event1">
          <div class="image">
          <%= image_tag "Dar-Souiri-Essaouira-Exposition.jpg", class:"img" %>
          </div>
          <div class="text">
          <h6>CONCERT: NETA ELKAYAM</h6>
          <p>Galerie d'art Bastion - 12, rue Abdelkbir Seddik<br>
          18h00<br>
          Neta Elkayam, née en 1980 à Netivot, Israël, est une artiste, compositrice, musicienne et chanteuse israélo-marocaine .
Elle conjugue dans sa voix des influences musicales andalouses, berbères et méditerranéennes. Son style musical combine des influences du chant soul noir, du piyut, de la pop et du Rock'n'roll. 
          </p>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="sub-menu dates">
      <ul>
        <li>Mercredi 15 novembre</li>
        <li>Jeudi 16 novembre</li>
        <li>Vendredi 17 novembre</li>
        <li>Samedi 18 novembre</li>
      </ul>
    </div>
  </div>