  <div class="center">
    <div class="centerTarget" id="tissuculturel"></div>
   <h4 id="biblio">
    Quelques lectures autour de nos sujets
    </h4>
    <h5>Autour de l’exil</h5>
    <p>
      <b>Par ordre alphabétique,</b><br>
      Ami Bouganim Tarédant, A bout d’exil, collection Matanel, 2014<br>
      Deleuze, Différence et répétition, 1969, P.U.F., Paris, 1997<br>
      Pauline Desiderio Crises L’exil et la répétition dans l’œuvre de Wajdi Mouawad, quelles limites et frontières <br>
      Gareau, Marie-Christie. 2010. « Wajdi Mouawad ou comment transcender l’exil. L’élaboration d’une écriture post-migratoire », Postures, Dossier « Post - », n°12.<a href="http://revuepostures.com/fr/articles/gareau-12"> En ligne, http://revuepostures.com/fr/articles/gareau-12 </a> <br>
      <b>Julia Kristeva</b><br>
      <b>Wajdi Mouawad</b><br>
      Il dirige le Théâtre national de la Colline (Paris) depuis 2016<br>
      Autour des thèmes de la transmission, de l’héritage, de la diversité.<br>
      2006. Forêts. Montréal : Leméac, <br>
      2003. Incendies. Montréal : Leméac, <br>
      1999. Littoral. Montréal : Leméac, <br>
      2002a. Rêves. Montréal : Leméac, <br>
      2008a. Seuls. Chemins, textes et peinture. Montréal : Leméac, <br>
      2008b. Le soleil ni la mort ne peuvent se regarder en face. Montréal : Leméac, <br>
      2002b. Visage retrouvé. Montréal : Leméac, <br>
      <b>Georges Perec Ellis Island, Pol editeur , 2019</b><br>
      <b>Georges Perec avec Robert Bober, Récits d’Ellis island, histoires d’errance et d’espoir</b><br>
      Nicolas Poirier, Exil et création de soi, Canetti, Gombrowicz, Joyce, Lessing, Mann, Nabokov et Saïd<br>
      Laura Sano, Une pensée en exil, la philosophie de Rachel Bespaloff<br>

      W.G Sebald Les émigrants ? Actes Sud, 1999<br>
      Shmuel Trigano, Le temps de l’exil, Payot, 2001<br>
      Shmuel Trigano, Un exil sans retour ? Lettres à un Juif égéré, Stock, 1996<br>
      Danny Trom, L’Etat de L’Exil, Israel, les Juifs, l’Europe, PUF, 2023<br>
    </p>
    <h5>Quelques références à l’histoire judéo-marocaine d’Essaouira </h5>
    <p>
      <ul>
        <li>Entretiens avec Edmond Amran El Maleh, de Marie Redonnet, aux éditions Pensée sauvage. 230 pages. </li>
        <li>Revoir Tanger, de Ralph Toledano, aux éditions La grande ourse. 304 pages.</li>
        <li>Un prince à Casablanca, de Ralph Toledano, aux éditions La grande ourse. 440 pages.</li>
        <li>Épreuves et Libération : les Juifs du Maroc pendant la Seconde guerre mondiale, de Joseph Toledano, aux éditions Elkana.</li>
        <li>Les gens du mellah : la vie juive au Maroc à l’époque précoloniale, de Shlomo Deshen, aux éditions Albin Michel. 270 pages.</li>
        <li>Il était une fois… Marrakech la juive, de Thérèse Zrihen-Dvir, aux éditions L’Harmattan. 392 pages.</li>
        <li>Derrière les remparts du Mellah de Marrakech, de Thérèse Zrihen-Dvir, aux éditions L’Harmattan. 220 pages.</li>
        <li>L’art chez les Juifs du Maroc, de André Goldenberg, aux éditions Somogy. 240 pages.</li>
        <li>Eugène Delacroix au Maroc : Les heures juives, de Maurice Arama. 191 pages.</li>
        <li>Juifs et musulmans au Maroc : des origines à nos jours, de Mohammed Kenbib, aux éditions Tallandier. 240 pages.</li>
        <li>Communautés juives au sud de l’Anti-Atlas, aux éditions La croisée des chemins. 288 pages.</li>
        <li>Mohamed El Haddaoui, La Musique judéo-marocaine : Un patrimoine en partage, Casablanca, La Croisée des chemins, 2014, 101 p.</li>
        <li>Frédéric Abécassis, Karima Dirèche et Rita Aouad (dir.), La Bienvenue et l'Adieu : Migrants juifs et musulmans au Maghreb (XVe-XXe siècle), t. 3, Rabat, Centre Jacques Berque, 2012 </li>
        <li>David Bensoussan, Il était une fois le Maroc : Témoignages du passé judéo-marocain, Bloomington</li>
        <li>Shmuel Trigano (dir.), Le Monde sépharade, vol. 1 : Histoire, Paris, Le Seuil, 2006, 1004 p.</li>
        <li>Shmuel Trigano (dir.), Le Monde sépharade, vol. 2 : Civilisation, Paris, Le Seuil, 2006, 812 p.</li>
        <li>Robert Assaraf, Une certaine histoire moderne des juifs du Maroc : 1860-1999, Paris, Gawsewitch, 2005, 824 p</li>
        <li>Hanania Alain Amar, Une jeunesse juive au Maroc, Paris, L’Harmattan, coll. « Mémoires du xxe siècle », 2001, 279 p. </li>
        <li>Jacques Taïeb, Sociétés juives du Maghreb moderne (1500-1900) : Un monde en mouvement, Paris, Maisonneuve et Larose, 2000, 223 p. </li>
        <li>Nina Banon (préf. André Goldenberg), Pèlerinages, Rites et Traditions des juifs du Maroc, Casablanca, s.n., 2010 (1re éd. 1998), 189 p. </li>
        <li>Haïm Zafrani, Juifs d'Andalousie et du Maghreb, Paris, Maisonneuve et Larose, 1996(réimpr. 2002), 437 p.</li>
        <li>Haïm Zafrani, Deux mille ans de vie juive au Maroc : histoire et culture, religion et magie, Paris/Casablanca, Maisonneuve et Larose/Eddif, 1995, 325 p. </li>
        <li>Armand Lévy, Il était une fois les Juifs marocains : Témoignage et Histoire de la vie quotidienne, Paris, L'Harmattan, coll. « Comprendre le Moyen-Orient », 1995, 232 p.</li>
        <li>André Chouraqui, Histoire des juifs en Afrique du Nord, Paris, Hachette, 1985, 620 p.</li>
        <li>Victor Malka, La Mémoire brisée des juifs du Maroc, Paris, Entente, 1978, 126 p.</li>
        <li>Moïse Rahmani, <em>L'exode oublié. Juifs des pays arabes</em>, Bruxelles, Raphaël, 2003, </li>
        <li>Jacob Ohayon Vingt ans de médiation interculturelle euro-méditerranéenne-1- horizons maghrébins</li>
        <li>Histoire du Maroc, Daniel Rivet, Ed. Fayard, 2012.</li>
        <li>Mogador, mémoire d’une ville, Lakhdar Omar, Ed. Géographique, 2009.</li>
        <li>« Essaouira, un haut lieu du judaïsme Marocain », article de Maroc-Hebdo du 2 mai 2019.</li>
        <li>« Le Mellah d’Essaouira, un quartier marginalisé: Formes et mutations de la revendication sociale », Messous, O. Confluences Méditerranée (2013).</li>
      </ul>
    </p>
    <h5>Autour du cinéma de l’exil et des cinéastes arabes</h5>
    <p>
      <ul>
        <li>Armes Roy, 2012, <em>Dictionnaire des cinéastes arabes du Moyen-Orient</em>, Paris, L’Harmattan.</li>
        <li>Ahmed Fertat <em>A propos de cinéma, au Maroc et en Méditerranée, entre hier et aujourd’hui</em></li>
        <li>Daniela Merolla, Kamal Naït,Zerad et Amar Ameziane <em>Les cinémas berbères, de la méconnaissance aux festivals nationaux</em></li>
        <li>Khémais Khayati, <em>Cinémas arabes, topographie d’une image éclatée</em></li>
        <li>Le Houérou Fabienne, 2016, <em>Filmer les réfugiés : cinéma d’enquête, études visuelles et subjectivité assumée. Documentaires, films ethnographiques, ethno-fictions ou égo-fictions ?</em>, Paris, L’Harmattan. </li>
        <li>Patricia-Laure Thivat, <em>Voyage et exils au cinéma. Rencontres de l’altérité</em>.</li>
        <li>Sahar El Echi Les récits de l’exil dans le cinéma méditerranéen (2000-2020) </li>
        <li>Serge Toubiana, Exils et territoires, le cinéma d’Amos Gitai</li>
      </ul>
    </p>
    <h4 id="#publications">Publications</h4>
    <h5>Articles autour des différents films du festival</h5>
    <p>
      <ul>
        <li><a href="https://www.liberation.fr/culture/shlomi-elkabetz-il-y-a-tres-longtemps-que-je-ne-mets-plus-de-barriere-entre-ma-vie-et-le-cinema-20220628_5GBG4NDLYVEPBJUXSXJPNUX33E">https://www.liberation.fr/culture/shlomi-elkabetz-il-y-a-tres-longtemps-que-je-ne-mets-plus-de-barriere-entre-ma-vie-et-le-cinema-20220628_5GBG4NDLYVEPBJUXSXJPNUX33E</a></li>
        <li>
          <a href="https://www.lemonde.fr/culture/article/2014/06/24/le-proces-de-viviane-amsalem-en-israel-le-recit-d-une-separation_4443966_3246.html">https://www.lemonde.fr/culture/article/2014/06/24/le-proces-de-viviane-amsalem-en-israel-le-recit-d-une-separation_4443966_3246.html</a>
        </li>
      </ul>
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><a href="#biblio">Quelques lectures autour de nos sujets</a></li>
        <li><a href="#publications">Publications</a></li>
        <li><a href="#photos">Photos</a></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#tissuculturel">HAUT DE PAGE</a></p>
  </div>
