  <div class="center">
    <div class="centerTarget" id="tissuculturel"></div>
   <h4 id="biblio" class="h4margin">
    Bibliographie thématique et sommaire
    </h4>
    <h4 class="h4margin">Autour de l’exil</h4>
    <p style="line-height: 1.5">
      Ami Bouganim <em>Tarédant, A bout d’exil</em>, collection Matanel, 2014<br>

      Wajdi Mouawad <em>Forêts</em>. Montréal : Leméac, 2003. <em>Incendies</em>. Montréal : Leméac,<br>
      1999. <em>Littoral</em>. Montréal : Leméac, 2002 <em>Rêves</em>. Montréal : Leméac,<br>
      2008. <em>Seuls. Chemins, textes et peinture</em>. Montréal : Leméac, 2008. <em>Le soleil ni la mort ne peuvent
se regarder en face</em>. Montréal : Leméac, 2002. <em>Visage retrouvé</em>. Montréal : Leméac,<br>
      Pauline Desiderio, <em>Crises L’exil et la répétition dans l’œuvre de Wajdi Mouawad, quelles limites et frontières</em><br>
      Gareau Marie-Christine, <em>Wajdi Mouawad ou comment transcender l’exil. L’élaboration d’une
écriture post-migratoire »</em>, Postures, Dossier « Post - », n°12, 2010 
<%# <a href="http://revuepostures.com/fr/articles/gareau-12" target="_blank">  http://revuepostures.com/fr/articles/gareau-12 </a>  %>
<br>
      Georges Perec, <em>Ellis Island</em>, Pol editeur , 2019<br>
      Georges Perec avec Robert Bober, <em>Récits d’Ellis island, histoires d’errance et d’espoir</em><br>
      Nicolas Poirier, <em>Exil et création de soi, Canetti, Gombrowicz, Joyce, Lessing, Mann, Nabokov et Saïd</em><br>
      Laura Sano, <em>Une pensée en exil, la philosophie de Rachel Bespaloff</em>, 2023<br>
      W.G Sebald, <em>Les émigrants Actes Sud</em>, 1999<br>
      Shmuel Trigano, <em>Le temps de l’exil</em>, Payot, 2001<br>
      Shmuel Trigano, <em>Un exil sans retour ? Lettres à un Juif égaré</em>, Stock, 1996<br>
      Danny Trom, L'État de L’Exil, Israël, les Juifs, l’Europe, PUF, 2023
    </p>

    <h4 class="h4margin">Quelques références à l’histoire judéo-marocaine d’Essaouira </h4>
    <p>
      <em>Entretiens avec Edmond Amran El Maleh</em>, de Marie Redonnet, aux éditions Pensée sauvage. 230 pages.<br>
      <em>Revoir Tanger</em>, de Ralph Toledano, aux éditions La grande ourse. 304 pages.<br>
      <em>Un prince à Casablanca</em>, de Ralph Toledano, aux éditions La grande ourse. 440 pages.<br>
      <em>Épreuves et Libération : les Juifs du Maroc pendant la Seconde guerre mondiale</em>, de Joseph Toledano, aux éditions Elkana.<br>
      <em>Les gens du mellah : la vie juive au Maroc à l’époque précoloniale</em>, de Shlomo Deshen, aux éditions Albin Michel. 270 pages.<br>
      <em>Il était une fois… Marrakech la juive</em>, de Thérèse Zrihen-Dvir, aux éditions L’Harmattan. 392 pages.<br>
      <em>Derrière les remparts du Mellah de Marrakech</em>, de Thérèse Zrihen-Dvir, aux éditions L’Harmattan. 220 pages.<br>
      <em>L’art chez les Juifs du Maroc</em>, de André Goldenberg, aux éditions Somogy. 240 pages.<br>
      <em>Eugène Delacroix au Maroc : Les heures juives</em>, de Maurice Arama. 191 pages.<br>
      <em>Juifs et musulmans au Maroc : des origines à nos jours</em>, de Mohammed Kenbib, aux éditions Tallandier. 240 pages.<br>
      <em>Communautés juives au sud de l’Anti-Atlas</em>, aux éditions La croisée des chemins. 288 pages.<br>
      Mohamed El Haddaoui, <em>La Musique judéo-marocaine : Un patrimoine en partage</em>, Casablanca, La Croisée des chemins, 2014, 101 p.<br>
      Frédéric Abécassis, Karima Dirèche et Rita Aouad (dir.), <em>La Bienvenue et l'Adieu : Migrants juifs et musulmans au Maghreb (XVe-XXe siècle)</em>, t. 3, Rabat, Centre Jacques Berque, 2012<br>
      David Bensoussan, <em>Il était une fois le Maroc : Témoignages du passé judéo-marocain</em>, Bloomington<br>
      Shmuel Trigano (dir.), <em>Le Monde sépharade, vol. 1</em> : Histoire, Paris, Le Seuil, 2006, 1004 p.<br>
      Shmuel Trigano (dir.), <em>Le Monde sépharade, vol. 2</em> : Civilisation, Paris, Le Seuil, 2006, 812 p.<br>
      Robert Assaraf, <em>Une certaine histoire moderne des juifs du Maroc : 1860-1999</em>, Paris, Gawsewitch, 2005, 824 p<br>
      Hanania Alain Amar, <em>Une jeunesse juive au Maroc</em>, Paris, L’Harmattan, coll. « Mémoires du xxe siècle », 2001, 279 p.<br>
      Jacques Taïeb, <em>Sociétés juives du Maghreb moderne (1500-1900) : Un monde en mouvement</em>, Paris, Maisonneuve et Larose, 2000, 223 p. <br>
      Nina Banon (préf. André Goldenberg), <em>Pèlerinages, Rites et Traditions des juifs du Maroc</em>, Casablanca, s.n., 2010 (1re éd. 1998), 189 p. <br>
      Haïm Zafrani, <em>Juifs d'Andalousie et du Maghreb</em>, Paris, Maisonneuve et Larose, 1996(réimpr. 2002), 437 p.<br>
      Haïm Zafrani, <em>Deux mille ans de vie juive au Maroc : histoire et culture, religion et magie</em>, Paris/Casablanca, Maisonneuve et Larose/Eddif, 1995, 325 p.<br>
       Armand Lévy, <em>Il était une fois les Juifs marocains : Témoignage et Histoire de la vie quotidienne</em>, Paris, L'Harmattan, coll. « Comprendre le Moyen-Orient », 1995, 232 p.<br>
       André Chouraqui, <em>Histoire des juifs en Afrique du Nord</em>, Paris, Hachette, 1985, 620 p.<br>
       Victor Malka, <em>La Mémoire brisée des juifs du Maroc</em>, Paris, Entente, 1978, 126 p.<br>
       Moïse Rahmani, <em>L'exode oublié. Juifs des pays arabes</em>, Bruxelles, Raphaël, 2003.<br>
       Jacob Ohayon <em>Vingt ans de médiation interculturelle euro-méditerranéenne-1- horizons maghrébins</em><br>
       <em>Histoire du Maroc</em>, Daniel Rivet, Ed. Fayard, 2012.<br>
       <em>Mogador, mémoire d’une ville</em>, Lakhdar Omar, Ed. Géographique, 2009.<br>
       <em>« Essaouira, un haut lieu du judaïsme Marocain »</em>, article de Maroc-Hebdo du 2 mai 2019.<br>
       <em>« Le Mellah d’Essaouira, un quartier marginalisé: Formes et mutations de la revendication sociale »,</em> Messous, O. <em>Confluences Méditerranée</em> (2013).
    </p>
    <h4 class="h4margin">Autour du cinéma de l’exil et des cinéastes arabes et méditerranéens</h4>
    <p>
      Armes Roy, 2012, <em>Dictionnaire des cinéastes arabes du Moyen-Orient</em>, Paris, L’Harmattan.<br>
      Ahmed Fertat <em>A propos de cinéma, au Maroc et en Méditerranée, entre hier et aujourd’hui</em><br>
      Daniela Merolla, Kamal Naït,Zerad et Amar Ameziane <em>Les cinémas berbères, de la méconnaissance aux festivals nationaux</em><br>
      Khémais Khayati, <em>Cinémas arabes, topographie d’une image éclatée</em><br>
      Le Houérou Fabienne, 2016, <em>Filmer les réfugiés : cinéma d’enquête, études visuelles et subjectivité assumée. Documentaires, films ethnographiques, ethno-fictions ou égo-fictions ?</em>, Paris, L’Harmattan.<br>
      Patricia-Laure Thivat, <em>Voyage et exils au cinéma. Rencontres de l’altérité</em>.<br>
      Sahar El Echi <em>Les récits de l’exil dans le cinéma méditerranéen</em> (2000-2020)<br>
      Serge Toubiana, <em>Exils et territoires, le cinéma d’Amos Gitai</em><br>
    </p>
    <br><br><br><br>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to tissu_culturel_path do %>Bibliographie thématique et sommaire<% end %></li>
        <li><%= link_to tissu_culturel_publications_path do %>Publications<% end %></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#tissuculturel">HAUT DE PAGE</a></p>
  </div>
