  <div class="center">
    <div class="centerTarget" id="tissuculturel"></div>
    <h4 id="publications">Publications</h4>
    <h5>Articles autour des différents films du festival</h5>
    <p>
      Interview de Shlomi Elkabetz : « Il y a très longtemps que je ne mets plus de barrière entre ma vie et le cinéma »
      <a href="https://www.liberation.fr/culture/shlomi-elkabetz-il-y-a-tres-longtemps-que-je-ne-mets-plus-de-barriere-entre-ma-vie-et-le-cinema-20220628_5GBG4NDLYVEPBJUXSXJPNUX33E" target="_blank">Interview de Shlomi Elkabetz : « Il y a très longtemps que je ne mets plus de barrière entre ma vie et le cinéma »</a><br><br>
          <a  target="_blank" href="https://www.lemonde.fr/culture/article/2014/06/24/le-proces-de-viviane-amsalem-en-israel-le-recit-d-une-separation_4443966_3246.html" rel="noopener" >« Le Procès de Viviane Amsalem » : en Israël, le récit d'une séparation</a><br><br><br><br><br>
    </p>
  </div>
  <div class="right-side">
    <div class="sub-menu">
      <ul>
        <li><%= link_to tissu_culturel_path do %>Quelques lectures autour de nos sujets<% end %></li>
        <li><%= link_to tissu_culturel_publications_path do %>Publications<% end %></li>
      </ul>
    </div>
    <p class="haut-de-page"><a href="#tissuculturel">HAUT DE PAGE</a></p>
  </div>
