/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
 }
 body {
   margin: 0;
   padding: 0;
   background-color: black;
   /* Set the background color to black */

   /* Hide vertical scrollbar initially */
 }
a {
  color: inherit;
  text-decoration: none;
  color: inherit;
}
body.dark-mode {
   background-color: rgba(0, 0, 0, 1);
   color: rgba(255, 255, 255, 1);
}
body.light-mode {
  background-color: white;
  color: black;
}
 /* Show the footer when scrolling down */
 body.active-footer .footer {
  bottom: 0;
}
body,
p,
h1 {
 font-family: "Haas Grot Disp 65 Medium", sans-serif;
}
a:visited {
  color: inherit;
}
a:hover {
  color: rgb(199,14,14)
}
a:active {
  color: rgb(255,204,43);
}
a:focus {
  color:rgb(255, 204, 43);
}
a.light-mode {
  color: black
}
a.dark-mode {
  color: rgba(255, 255, 255, 1);
}
a.active,
a.active:visited,
a.active:hover,
a.active:active,
a.active:focus {
  color: rgb(255, 204, 43);
  /* Yellow or any other color you prefer */
}
.blue-link {
  color: rgb(55,201,188)
}
.sub-menu a:active,
.sub-menu a.active,
.sub-menu a:focus {
  color: rgb(55, 201, 188);
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  background-image: url('E&S-frame-white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: 2;
  /* Adjust this to control the sizing of the background image */
}
.background.dark-mode {
  background-image: url('E&S-frame-black.svg');
}
.background.light-mode {
  background-image: url('E&S-frame-black.svg');
  /* Replace with your light mode image */
}
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 5rem;
  width: 100%;
}
.container > h1 {
  padding-bottom: -15px;
}
.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 300px;
}
.title h1 {
  width: 130%;
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
}
.title p {
  margin-top:0px;
}
.menu {
  margin-top: 2rem;
}
.menu li {
  list-style: none;
}
.menu ul {
  padding: 0;
}
.center {
  height: 75vh;
  margin-top: 3.5rem;
  flex: 2 1 0%;
  max-width: 50vw;
  margin-left: -50px;
  overflow: scroll;
  scrollbar-width: none;
}
.center  h4:first-child {
  margin-top: 4.83rem;
}
.center h4 {
  margin-left: 5rem;
}
.center  p {
  text-indent: 5rem;
}
.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 3rem;
}
.right-side ul{
  margin: 0;
}
.right-side li {
  list-style: none;
}
.news {
  box-sizing: border-box;
  margin-top: 8.3rem;
  width: 250px;
}
.news-date {
  font-size: 0.8rem;
}
table {
  margin-left: -3.3rem;
}
.sub-menu{
  margin-top: 8.3rem;
  max-width: 250px;
}
.layout-options {
  position: fixed;
  bottom: 3.5rem;
  right: 1.5rem;
}
.layout-options ul {
  text-align: right;
  list-style: none;
}
#toggle-mode-button {
  cursor:pointer;
  margin: 0;
}
footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the height of your footer */
  background-color: red; /* Set the background color to red */
  transition: bottom 0.3s; /* Add smooth transition effect */
}
.mobile-inversion{
  display: contents;
}
.programme p {
  padding-top: 3.5rem;
}
.programme h5 {
  text-align: right;
}
.dates {
  margin-top: 8rem;
}

.event1 {
  background-color: rgb(55,201,188);
  display: flex;
  max-height: 153px;
}
.event .img {
  max-width: 300px;
}
.image {
  margin-right: -60px;
  flex: 1;
}
.text {
  color: rgb(0, 0, 0);
  flex: 1;
  margin-top: 0;
  padding-top: 0.3rem;
  padding-right: 2rem;
}
.text h6 {
  margin-top: 0;
  margin-bottom: 0.3rem;
}
.text p {
  font-size: 0.6rem;
  padding-top: 0;
  text-indent: 0;
}
#contact {
  text-indent: 0;
  margin-top: 4.83rem;
  margin-left: 4.5rem;
}
.mobile-inversion {
  display: contents;
}
#manifesto, #essaouira, #roni-Elkabetz, #mobilisation, #pillier, #cinema, #echange{
  scroll-margin-top: 4.83rem;
}
.mobile-white-margin {
  display: none;
}
@media (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 1.75em;
  }
  p {
    font-size: 1rem;
    margin-top: -4vh;
  }
  #fullscreen-svg {
    background: url('E&S-landing-page-mobile.svg') center/cover no-repeat;
  }
  .background {
    position: fixed;
      top: 1%;
      left: 3%;
      width: 100vw;
      max-width: 100%;
      background-image: url('E&S-mobile-frame-white.svg');
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: inherit;
      background-attachment: inherit;
      z-index: 2;
      object-fit: contain;
    }
    .background.dark-mode {
      background-image: url('E&S-mobile-frame-black.svg');
    }

    .background.light-mode {
      background-image: url('E&S-mobile-frame-black.svg');
      /* Replace with your light mode image */
    }
  .container {
/*    flex-direction: column;*/
    padding-top: 0;
    justify-content: center; /* Centrer horizontalement */
/*    align-items: flex-start; /* Centrer verticalement */
    height: 100vh; /* Remplit la hauteur de l'écran */
    max-height: 100vh;
    margin: 20px 30px;
    flex: none;
    display: block;
  }
  .left-side {
    flex: none;
  }
  .menu {
    margin-top: 20px;
  }
  .menu ul {
    column-count: 2;
    column-gap: 20px;
    padding: 0;
  }
  .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mobile-inversion{
    display: flex;
    flex-direction: column-reverse;
  }
  .center {
    display: flex;
    flex: none;
    flex-direction: column;
    height: 50vh;
    max-width: 100vw;
    width: 80vw;
    margin: 0;
    margin-right: 5px;
  }
  .center h4:first-child{
    margin-top: 1rem;
  }
  .center h4{
    margin-left: 2vw;
    margin-bottom: 1rem;
    max-width: 100vw;
  }
  .center p{
    margin-top: 1rem;
    max-width: 100vw;
    text-indent: 5vw;
  }
  .programme > p:first-child {
    padding-top: 0;
  }
  .center h5{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .center ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: 0;
    padding: 0;
  }
  video {
    height: 240px;
    margin-left: -5vw;
    margin-top: 10vh;
    width: 320px;
  }
  .map {
    width: auto;
  }
  .image {
    max-width: 30vw;
    overflow: hidden;
  }
  .text {
    margin-left: 68px;
    max-width: 50vw;
    padding-right: 0px;
    overflow: scroll;
  }
  .text p {
    text-indent: 0;
  }
  .right-side {
    margin: 0;
    width: 80%;
    overflow-x: auto; /* Active le défilement horizontal */
    white-space: nowrap;
  }
  .news {
    display: none;
  }
  .sub-menu, .dates {
    margin-top: 2vh;
  }
  .right-side li {
    padding-right: 15px;
  }
  .right-side li:last-child {
  margin-right: 0; /* Supprime la marge du dernier élément */
  }
  .right-side .sub-menu ul {
    padding: 0;
  }
  .sub-menu {
    max-width: 80vw;
  }
  .sub-menu li{
    display: inline;
  }
  footer {
    display: none;
  }
  #toggle-mode-button {
    display: none;
  }
  .layout-options {
    bottom: 0.5rem;
  }
  .mobile-white-margin{
    bottom: 0;
    position: absolute;
    margin-left: -3%;
    display: block;
    height: 6rem;
    width: 100%;
    background-color: white;
  }
}

/* Your existing styles here */

/* Style for the video elements */
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Style for the carousel container */
#video-carousel {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /* Updated */
}

/* Style for the video elements */
.carousel-video {
  display: none;
  /* Updated */
  max-width: 100%;
  object-fit: contain;
}

/* Style for the active video */
.carousel-item.active .carousel-video {
  display: block;
  /* Updated */
}
.full-screen-yellow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 204, 43);
}

.full-screen-red {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(199, 14, 14);
}

.full-screen-blue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 201, 188);
}
.full-screen-yellow,
.full-screen-red,
.full-screen-blue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  /* Make sure it covers all other elements */
}
.fading {
  opacity: 0 !important;
  transition: opacity 1s ease-in-out;
}
::-webkit-scrollbar {
  width: 0px;
}
/* ... your other CSS ... */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  position:relative;
  z-index: 10;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: grey;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: black;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mobileShow {
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  .mobileHide {
    display: none;
  }
  .mobileShow {display: inline;}
}
.fullscreen-svg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#fullscreen-svg {
  background: url('E&S-landing-page.svg') center/cover no-repeat;
}
