/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
 }
 body {
   margin: 0;
   padding: 0;
   background-color: black;
   /* Set the background color to black */

   /* Hide vertical scrollbar initially */
 }

 .background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-image: url('E&S-frame-white.png');
   /* Replace with your image */
   background-repeat: no-repeat;
   background-size: cover;
   /* Adjust this to control the sizing of the background image */
 }

 .footer {
   position: fixed;
   bottom: -100px;
   /* Initially hide the footer off-screen */
   left: 0;
   width: 100%;
   height: 100px;
   /* Set the height of your footer */
   background-color: red;
   /* Set the background color to red */
   transition: bottom 0.3s;
   /* Add smooth transition effect */
 }

 /* Show the footer when scrolling down */
 body.active-footer .footer {
   bottom: 0;
 }
 body,
 p,
 h1 {
  font-family: "Haas Grot Disp 65 Medium", sans-serif;
 }
.container {
  display: flex;
  flex-direction: row;
  padding: 10vh;
}
.container > h1 {
  padding-bottom: -15px;
}
.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menu li {
  list-style: none;
}
.video {
  align-items: center;
  display: flex;
  flex: 1;
}
.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.right-side li {
  list-style: none;
}

.footer {
  align-content: center;
}
